<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Safari Bug Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Why so big??</strong>
    <p>Check the issue tracking <a target="_blank" rel="noopener noreferrer" href="https://github.com/ionic-team/ionic-framework/issues/27225">here</a></p>
  </div>
</ion-content>
